* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  /* font-family: 'Outfit', sans-serif; */
  min-height: 100vh;
  background-color: hsl(275, 100%, 97%);
}

.heading img {
  height: 1rem;
  display: inline-block;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* padding-top: 5rem; */
}

a {
  color: #000;
  text-decoration: none;
}
.background-head-img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  /* object-fit: cover; */
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 85%;
  align-items: center;
  justify-self: center;
  /* margin-inline: auto; */
  padding: 1.5rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  width: min(80%, 400px);
  box-shadow: 0 4px 8px 0 hsl(275, 100%, 97%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading img {
  margin-right: 1rem;
  height: 1.5rem;
}

.heading span {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(292, 42%, 14%);
}

.heading {
  display: flex;
  align-items: center;
  margin-block: 1.5rem;
}

.questionOne-heading,
.questionTwo-heading,
.questionThree-heading,
.questionFour-heading {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  margin-block: 1.5rem;
}

.line {
  border: 1px solid hsl(275, 100%, 97%);
  margin-block: 1.5rem;
}

p {
  color: hsl(292, 16%, 49%);
  font-size: 1rem;
  line-height: 1.4rem;
}

.questionOne-answer,
.questionTwo-answer,
.questionThree-answer,
.questionFour-answer {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.minus {
  display: none;
}

.desktop-img {
  display: none;
}
/* @media  and (max-width: 368px) {
  .container {
    
  }
} */

.attribution {
  width: 100%;
}

.background-head-img img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 383px) {
  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
    width: 100%;
  }
}
